{# Plantilla para mostrar información del usuario #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h2>{{titulo}}</h2>
    <b>Nombre:</b> {{ usuario.nombre }}<br>
    <b>Primer apellido:</b> {{ usuario.apellido1 }}<br>
    <b>Segundo apellido:</b> {{ usuario.apellido2 }}<br>
    <b>DNI:</b> {{ usuario.dni }}<br>
  </body>
</html>